$background-color-gray: #242d34;
$line-color-gray: #333639;
$color-black: #000000;
$color-white: #ffffff;
$color-accent-blue: #1d9bf0;
$color-secondary-gray: #515558;

$color-background-hover-light-gray: rgb(221, 223, 225);
